/* CSS Document */

   /* 作者：高网地址发布页：www.xgjxw6.com   关注微信公众号：小高教学网
    源码分享QQ群：257347526
    欢迎进来互相学习和交流
    请保留版权，尊重作者的努力！
*/
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.clearfix:after{
			content: "";
			display: block;
            height: 0;
            visibility: hidden;
            clear: both;
}
.clearfix{
			*zoom: 1;
}
body{
	background: url(../img/bg.jpg) no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
.content{
	width: 900px;
	height: 500px;
	margin: 200px auto 0 auto;
	border-radius: 10px;
	background-color: rgba(236,236,236,0.59);
	transition: all 1.0s;
	/*box-shadow: 0px 0px 20px rgba(0,0,0,0.3);*/
}
.content img{
	float: left;
	width: 200px;
	height: 200px;
	margin: 150px 0 0 80px;
	border-radius: 100px;
	
}
.content:hover{
	box-shadow: 0px 0px 20px rgba(0,0,0,0.52);
}
.content_r{
	float: right;
	width: 500px;
	margin: 80px 60px 0  0;
/*	background-color: pink;*/
}
.content_l{
	float: left;
	width: 100%;
	text-align: center;	
}
.content_l h5{
	
	font-size: 17px;
}
.cc{
	margin-top: 10px;
	color: #1F2023;
	font-size: 18px;
}
.color_1{
	color: #4855EC;
	font-size: 18px;
}
.deeppink{
	color: deeppink;
}
.link{
	margin-top: 30px;
}
.link a{
	display: block;
	float: left;
	width: 120px;
	height: 45px;
	margin: 5px 5px 0 0;
/*	padding: 0 15px;*/
	color: #fff;
	line-height: 45px;
	transition: all 0.8s;
/*	background-color: deeppink;*/
	
}
.link a:hover{
	background-color:rgba(0,201,243,0.35);
}
.deeppink_1{
	background-color: deeppink;
}
.dodgerblue{
	background-color: dodgerblue;
}
.magenta{
	background-color: magenta;
}
.orange{
	background-color: orange;
}
 /* 作者：高网地址发布页：www.xgjxw6.com   关注微信公众号：小高教学网
*/